
  <!--LE  FOOTER -->

  <footer class="page-footer font-small unique-color-dark pt-4">
    <div class="container">
      <!-- APELLE A L'ACTION -->
         {{#if user}}
         {{!-- PAS DE BOUTON --}}
      
         {{else}}
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h4 class="mb-1">S'enregistrer gratuitement</h4>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#modalRegisterForm">Inscription</a>
        </li>
      </ul>
         {{/if}}
      <!-- APELLE A L'ACTION -->
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center" style="color:#fff;">© 2019 Copyright:
    </div>
    <!-- Copyright -->
  </footer>
  <!-- FOOTER -->
